<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class = "container">
    <form action="/reservations/new" method="post">
        <div class="form=group">
            <label for="name">name</label>
            <input type="text" id="name" name="name" placeholder="Type a name">

            <label for="name">cube</label>
            <input type="text" id="cube" name="cube" placeholder="Type a name">

            <label for="name">member</label>
            <input type="text" id="member" name="member" placeholder="Type a name">

            <label for="name">start date</label>
            <input type="date" id="startDate" name="startDate" placeholder="Type a name">

            <label for="name">end date</label>
            <input type="date" id="endDate" name="endDate" placeholder="Type a name">
        </div>
        <button type ="submit"> register </button>
    </form>
</div>
</body>
</html>